$primary_text_color:#939CAA;
$button_color:#FCB72B;
$white_color:#FFFFFF;
$title_color:#495567;
$title_font: 'Space Mono' Bold,
monospace;
$text_font: 'Lexend Deca',
sans-serif;
$link_color:#939CAA;